let mapleader = " "

" edit ideavim config
nnoremap <leader>ve :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

set relativenumber
set number
set scrolloff=10

" move lines up and down and format
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

nmap <leader>cf <action>(ReformatCode)
nmap <leader>ca <action>(ShowIntentionActions)
nmap <leader>ci <action>(OptimizeImports)
nmap gd <action>(GotoDeclaration)
nmap gD <action>(GotoTypeDeclaration)
nmap gi <action>(GotoImplementation)
nmap <leader>rn <action>(RenameElement)

" Copy to clipboard
vnoremap  <leader>y  "+y
nnoremap  <leader>Y  "+yg_
nnoremap  <leader>y  "+y
nnoremap  <leader>yy  "+yy

" Paste from clipboard
nnoremap <leader>p "+p
nnoremap <leader>P "+P
vnoremap <leader>p "+p
vnoremap <leader>P "+P
